[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.12"
