[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlmodel = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
psycopg = {extras = ["binary"], version = "*"}
redis = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
bcrypt = "<4.0"
python-multipart = "*"
python-decouple = "*"
pydantic = "*"
pydantic-settings = "*"
typing-extensions = "*"
setuptools = "*"
qrcode = {extras = ["pil"], version = "*"}
python-dotenv = "*"
aiosmtplib = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.12"
